<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asetku">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASETKU"
        tools:targetApi="31">
        <activity
            android:name=".view.paybackPeriod.PaybackPeriodDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturn.InternalRateOfReturnArticle"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturn.InternalRateOfReturnDifferent"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturn.InternalRateOfReturnStable"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValue.NetPresentValueArticle"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValue.NetPresentValueDifferent"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValue.NetPresentValueStable"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriod.PaybackPeriodStable"
            android:exported="true" />
        <activity
            android:name=".view.paybackPeriod.PaybackPeriodDifferent"
            android:exported="true" />
        <activity
            android:name=".view.paybackPeriod.PaybackPeriodArticle"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriod.PaybackPeriodStableResult"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndex.ProfitabilityIndexArticle"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndex.ProfitabilityIndexDifferent"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndex.ProfitabilityIndexStable"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>