<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asetku">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ASETKU"
        tools:targetApi="31">
        <activity
            android:name=".view.internalRateOfReturnOneCompany.Different.InternalRateOfReturnOneDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturnOneCompany.Different.InternalRateOfReturnOneDifferent"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturnOneCompany.Stable.InternalRateOfReturnOneStableResult"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturnOneCompany.Stable.InternalRateOfReturnOneStable"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueOneCompany.Different.NetPresentValueOneDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueOneCompany.Different.NetPresentValueOneDifferent"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueOneCompany.Stable.NetPresentValueOneStableResult"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueOneCompany.Stable.NetPresentValueOneStable"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriodOneCompany.Different.PaybackPeriodOneDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriodOneCompany.Different.PaybackPeriodOneDifferent"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriodOneCompany.Stable.PaybackPeriodOneStableResult"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriodOneCompany.Stable.PaybackPeriodOneStable"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexOneCompany.Different.ProfitabilityIndexOneDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexOneCompany.Different.ProfitabilityIndexOneDifferent"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexOneCompany.Stable.ProfitabilityIndexOneStableResult"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexOneCompany.Stable.ProfitabilityIndexOneStable"
            android:exported="false" />
        <activity
            android:name=".view.TransitActivity"
            android:exported="false" />
        <activity
            android:name=".view.UnderConstruction"
            android:exported="false" />
        <activity
            android:name=".view.fourMethodMultipleCompany.FourMethodArticle"
            android:exported="false" />
        <activity
            android:name=".view.fourMethodMultipleCompany.Different.FourMethodDifferent"
            android:exported="false" />
        <activity
            android:name=".view.fourMethodMultipleCompany.Different.FourMethodDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.fourMethodMultipleCompany.Stable.FourMethodStable"
            android:exported="false" />
        <activity
            android:name=".view.fourMethodMultipleCompany.Stable.FourMethodStableResult"
            android:exported="false" />
        <activity
            android:name=".view.LoadingScreen"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturnMultipleCompany.Different.InternalRateOfReturnDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturnMultipleCompany.Stable.InternalRateOfReturnStableResult"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexMultipleCompany.Different.ProfitabilityIndexDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexMultipleCompany.Stable.ProfitabilityIndexStableResult"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueMultipleCompany.Different.NetPresentValueDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueMultipleCompany.Stable.NetPresentValueStableResult"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriodMultipleCompany.Different.PaybackPeriodDifferentResult"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturnMultipleCompany.InternalRateOfReturnArticle"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturnMultipleCompany.Different.InternalRateOfReturnDifferent"
            android:exported="false" />
        <activity
            android:name=".view.internalRateOfReturnMultipleCompany.Stable.InternalRateOfReturnStable"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueMultipleCompany.NetPresentValueArticle"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueMultipleCompany.Different.NetPresentValueDifferent"
            android:exported="false" />
        <activity
            android:name=".view.netPresentValueMultipleCompany.Stable.NetPresentValueStable"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriodMultipleCompany.Stable.PaybackPeriodStable"
            android:exported="true" />
        <activity
            android:name=".view.paybackPeriodMultipleCompany.Different.PaybackPeriodDifferent"
            android:exported="true" />
        <activity
            android:name=".view.paybackPeriodMultipleCompany.PaybackPeriodArticle"
            android:exported="false" />
        <activity
            android:name=".view.paybackPeriodMultipleCompany.Stable.PaybackPeriodStableResult"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexMultipleCompany.ProfitabilityIndexArticle"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexMultipleCompany.Different.ProfitabilityIndexDifferent"
            android:exported="false" />
        <activity
            android:name=".view.profitabilityIndexMultipleCompany.Stable.ProfitabilityIndexStable"
            android:exported="false" />
        <activity
            android:name=".view.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />
    </application>

</manifest>